* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "NanumSquareOTF";
}
/* 컨테이너 */
.container {
  width: 1479px;
  margin: 0 auto;
}
/* fonts */
.NanumSquare {
  font-family: "NanumSquareOTF";
}
.SebangGothic {
  font-family: "SebangGothic";
}
