.search {
    position: relative;
    border-bottom: 1px solid #E3E3E3;
}
.lime {
    width: 512px;
    height: 250px;
    background-image: url('../img/lime.png');
    transform: translate(-50%,-50%);
    position: relative;
    top: 50%;
    left: 50%;
    background-position: center center;
    background-size: cover;
}
.glass img {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 42.5%;
    left: 28%;
    z-index: 1;
}
.search__inner input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 67px;
    border-radius: 50px;
    border: 1px solid #E3E3E3;
    text-align: center;
    align-items: center;

    
}